body{
text-align: center;
}

body,h1,h2,h3,h4,h5,h6{
  font-family:'Montserrat';
}
h2{
  font-size: 2.5rem;
  font-weight: 800;
}
/* Headings */

.big-heading{
  font-weight: 900;
  font-size: 3rem;

}


/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */
.coloured-section{
  color:#fff;
}
.white-section{
  color:#444444;
}
/* Icons */



/* Title */

#title{
  background:#f78888;
}
#title .container-fluid{
  padding: 2% 7% 6%;
  text-align: left;
}
.title-box{
  padding-right:5%;
}
.title-button{
  margin-top: 5%;
  width:165px;
}

/* NavBar */

.navbar{
  padding:0 0 3.5rem;
}

.navbar-brand{
  font-family: 'Quicksand';
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2.3rem;
}

.nav-item{
  margin: 0 0 0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family:'Montserrat';
  font-weight: 400;
}
/* Features */
#features{
  background:#fff;
}

/* Benefits */

#benefits{
  background:#f3d250;
}

.benefit-image{
  width:200px;
  height:200px;
  margin: 15% 4% 0
}
/*reviews */

.review-portrait{
  width:12%;
  border-radius: 100%;
  margin:20px;
}

.review-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

/* contacts */

#contacts{
  background:#f8ac6c;
}

/* contact form */
.gform{
  margin-top:6%;
}

.contact-text-area{
  width:80%;
}

.contact-input-box{
  width:60%;
}


.contact-icon-box{
  margin:3% 0
}

.message-button{
  width:25%;
}

/*output message */

.thanks-text{
  font-size: 1.5rem;
}
